# Ignore specific MATLAB files
l3static_symb.m
provaSCARA.m
provaTreTratti.m
symbolic_dirkin.m
symbolic_invkin.m
lagrange.m
lineparabolas_old.m
invdyn_old.m
testdirkin.m
test_dyn.m
testlp.m

*.asv
*.slxc

**/slprj/
